# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDEs
.idea/
.vscode/

# Env
env/
venv/
envpypy/
.env/
.venv/

# Logs
/logs/*.log

# DB files
*.sqlite3

.env